// Colors
$off-black: #1F2933;
$dark-grey: #323F4B;
$grey: #3E4C59;
$light-grey: #52606D;
$off-white: #9AA5B1;
$blue: #127FBF;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$m2-size: 2.0rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;